!!!
%html
	%head
		%meta{'http-equiv' => 'Content-Type', :content => 'text/html', :charset => 'utf-8'}
		%meta{:name=>'viewport', :content=>'initial-scale=1.0, user-scalable=no'}
		- title = data.page.title
		%title= "Making Of " + title
		%meta{:property=>'og:title', :content=>(title ? title+" - " : "") +  "Making Of"}
		%meta{:name=>'author', :content=>'Salim Batlouni'}
		- if current_page.path == 'index.html'
			%meta{:property=>'og:image', :content=>"/#{image_path('makingof.jpg')}"}
		- else
			%meta{:property=>'og:image', :content=>"/#{image_path(title.parameterize+'.jpg')}"}
		- if data.page.description
			%meta{:property=>'description', :content=>data.page.description}
			%meta{:property=>'og:description', :content=>data.page.description}
		= stylesheet_link_tag "normalize", "all"
		- if build?
			:javascript
				var _gaq = _gaq || [];
				var pluginUrl = 
				 '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
				_gaq.push(['_require', 'inpage_linkid', pluginUrl]);
				_gaq.push(['_setAccount', 'UA-38077085-1']);
				_gaq.push(['_trackPageview']);

				(function() {
					var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
					ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				 })();
   
	%body{:class=>"#{page_classes}"}
	
		%header
			#menu
				%a{:href=>'http://www.batlounis.com', :target=>'_blank'} Salim's Work
			#title
				%h1{:class=>current_page.path == 'index.html' ? '' : 'with_back'}
					= link_to "Making Of", '/', :unless=>:current
				- if title
					%h2= title
		
			%p.intro= data.page.description
		
		=yield
		
		
		%footer#contact
			Salim Batlouni
			\/
			batlounis@gmail.com
			\/
			%a{:href=>'http://twitter.com/batlounis', :title=>"Salim's Twitter", :target=>"_blank"} twitter
			\/
			%a{:href=>'http://pinterest.com/batlounis', :title=>"Salim's Pinterest", :target=>"_blank"} pinterest
			\/
			%a{:href=>"http://pt.linkedin.com/in/batlounis", :title=>"Salim's LinkedIn", :target=>"_blank"} linkedin
			\/
			%a{:href=>"http://www.behance.net/batlounis", :title=>"Salim's Behance", :target=>"_blank"} behance
			\/
			%a{:href=>'http://vimeo.com/batlounis', :title=>"Salim's Vimeo", :target=>"_blank"} vimeo